.mrg-table {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 0;
}

.mrg-table__table {
  position: relative;
  table-layout: fixed;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border: 1px solid color-mix(in srgb, var(--grey2), transparent 50%);
  text-align: center;
}

.mrg-table__col--pipeline {
  width: 22ch;
}
.mrg-table__col--point {
  width: 16ch;
}
.mrg-table__col--km {
  width: 5.4ch;
}
.mrg-table__col--period {
  width: 8ch;
}
.mrg-table__col--num {
  width: 11ch;
}
.mrg-table__col--actions {
  width: 9.3ch;
}

.mrg-table__th {
  font-weight: 700;
  font-size: 15px;
  line-height: 140%;
  font-family: var(--poppins);
}

.mrg-table__td,
.mrg-table__th {
  padding: 8px;
  border: 1px solid color-mix(in srgb, var(--grey2), transparent 50%);
}

.mrg-table__td--empty {
  height: 50vh;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
}

.mrg-table__chart-btn {
  padding: 0 40px;
  min-height: 30px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-radius: 8px;
}

.mrg-table__chart-btn:hover,
.mrg-table__chart-btn:focus {
  outline: 1px solid var(--grey);
}

.mrg-table__chart-btn:active {
  opacity: 0.5;
}

.mrg-table__table thead {
  position: sticky;
  top: 80px;
  z-index: 2;
  background: var(--white, #fff);
  background-clip: padding-box;
}
